@model ArchiveViewModel;
@{
    ViewData["Title"] = "Archive";
}

<div class="mb-4 d-flex justify-content-between align-items-center">

    <h3 class="display-4">Archive</h3>
    <div class="dropdown">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center"
            data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            <i class="bi bi-filter me-1 fs-5"></i>
        </button>
        <form asp-action="IndexFilter" method="post" class="p-3 dropdown-menu dropdown-menu-end"
            style="min-width: 250px; max-width: 100%;">

            <div class="form-check form-switch m-0">
                <input class="form-check-input" type="checkbox" id="toggleSwitch" name="existsOnly" value="True" switch
                    @(Model.ExistsOnly == true ? "checked" : "")>

                <label class="form-check-label" for="toggleSwitch">Show Only Existing</label>
            </div>
            <hr class="dropdown-divider">
            <button type="submit" class="btn btn-primary btn-sm w-100">Apply</button>
        </form>
    </div>
</div>

<ul class="list-group shadow-sm">

    @foreach (var archive in Model.Paths)
    {
        <li class="list-group-item @(!archive.Exists ? "disabled" : "") d-flex justify-content-between align-items-center">

            <div class="d-flex flex-column w-75 w-md-100 py-1 gap-1">

                @if (archive.Exists)
                {
                    <p class="fw-bold text-break mb-0">@archive.FileName</p>
                }
                else
                {
                    <p class="text-break mb-0">
                        <s>@archive.FileName</s>
                    </p>
                }

                <small class="text-muted text-truncate">@archive.Path</small>
            </div>

            @if (archive.Exists)
            {
                <a class="btn btn-outline-primary d-inline-flex align-items-center px-3 px-md-4" title="Download"
                    asp-controller="Archive" asp-action="Download" asp-route-path="@archive.Path" target="_blank">
                    <i class="bi bi-download fs-4"></i>
                </a>
            }
        </li>
    }
</ul>
