@model FelipeDiasAzevedo.TCS.Business.ViewModels.ConfirmationAlertViewModel

<div class="alert alert-@(Model.Color) bg-gradient d-flex align-items-center p-4 rounded shadow-sm w-100">
    <div class="me-4 display-3">
        <i class="bi @(Model.Icon) text-@(Model.Color)"></i>
    </div>
    <div>
        <h5 class="mb-3">
            @Html.Raw(@Model.Header)
        </h5>
        <p class="mb-4">
            @Html.Raw(@Model.Body)
        </p>

        @if (Model.QueryName is not null)
        {
            <form asp-action="@Model.Action" method="post" asp-route-name="@Model.QueryName">
                <button type="submit" class="btn btn-@(Model.Color) bg-gradient">
                    @Model.Button
                </button>
            </form>
        }
        else
        {
            <form asp-action="@Model.Action" method="post">
                <button type="submit" class="btn btn-@(Model.Color) bg-gradient">
                    @Model.Button
                </button>
            </form>
        }


    </div>
</div>